{% extends "core/_.html" %}
{% from "core/template_macros.html.j2" import classes, security_form_header, security_form_footer, security_form_text, security_form_checkbox with context %}

{% block page_content %}
    {{ security_form_header('Login', 'login', login_user_form) }}
        {{ login_user_form.hidden_tag() }}
        {{ security_form_text( 'email', 'at', 'exclamation-triangle', login_user_form) }}
        {{ security_form_text( 'password', 'key', 'exclamation-triangle', login_user_form) }}
        {{ security_form_checkbox('remember', login_user_form) }}
    {{ security_form_footer([login_user_form.submit(class="button is-link")]) }}
{% endblock page_content %}