<head>
{% block head %}   
    <title>{% block title %}{{ domain }}{% endblock title %}</title>

    {% block bulma %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css.map">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% endblock bulma %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block additional_meta_tags %}{% endblock additional_meta_tags %}
{% endblock head %}
</head>